<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIconImageSettings</key>
	<string>image-theme: 0; image-shape: 3; image-opacity: 1.00; image-top-color: 0.0000,0.0000,0.0000; image-bottom-color: 0.6154,0.6154,0.6154; image-radius: 12,12,12,12; image-border: 1; image-border-color: 0.0000,0.0000,0.0000; image-border-width: 2; shine-on: 1; shine-strength: 0.38; shine-alpha-level: 0.00; shine-height: 0.62; glass-arc-height: -0.11; shine-over-border: 0; image-custom-above-lighting: 0; shadow-include-shadow: 1; shadow-blur: 6.00; shadow-offset: 0.00,-3.00; shadow-color: 0.0000,0.0000,0.0000,0.3333;</string>
	<key>CYBackwardCompatibleExport</key>
	<false/>
	<key>CYProjectFormatVersion</key>
	<integer>14</integer>
	<key>CYShineVersion</key>
	<integer>2</integer>
	<key>MainCSS</key>
	<string>main.css</string>
	<key>MainJS</key>
	<string>main.js</string>
	<key>ProjectSpecType</key>
	<string>Widget</string>
	<key>Steps</key>
	<array>
		<dict>
			<key>Completed</key>
			<false/>
			<key>Detail</key>
			<string>Gauge_Step_1_Detail</string>
			<key>MainHelp</key>
			<string>Tag(208)</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Gauge_Step_1_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<false/>
			<key>Detail</key>
			<string>Gauge_Step_2_Detail</string>
			<key>MainHelp</key>
			<string>Tag(202)</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Gauge_Step_2_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<false/>
			<key>Detail</key>
			<string>Gauge_Step_3_Detail</string>
			<key>MainHelp</key>
			<string>Tag(203)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>Gauge_Step_3_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<false/>
			<key>Detail</key>
			<string>Gauge_Step_4_Detail</string>
			<key>MainHelp</key>
			<string>Tag(204)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>Gauge_Step_4_Title</string>
		</dict>
		<dict>
			<key>Completed</key>
			<false/>
			<key>Detail</key>
			<string>Gauge_Step_5_Detail</string>
			<key>MainHelp</key>
			<string>Tag(205)</string>
			<key>Recommended</key>
			<true/>
			<key>Title</key>
			<string>Gauge_Step_5_Title</string>
		</dict>
	</array>
	<key>TemplateIdentifier</key>
	<string>com.apple.Dashcode.template.systemMonitor</string>
</dict>
</plist>
